# Python
__pycache__/
.ipynb_checkpoints/

*.pyc

# Logs
logs/
*.log

# Database (ignore if large)
data/
.DS_STORE/
*.DS_STORE/
*.db

# Environment
.env

# OS files
.DS_Store
Thumbs.db